<div class="modal fade" id="lazy_modal_demo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Demo</h4>
      </div>
      <div class="modal-body">
        <p>This is Lazy Modal Demo, you can custom the modal by <%= link_to 'Readme', '#' %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">OK I Got It!</button>
      </div>
    </div>
  </div>
</div>
